#sessionCard {
  font-weight: bold;
}

#noSessions {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2em;
}

#desktopSearch, #desktopFab {
  display: none;
}

.items {
  background: #f3f3f3;
  border-radius: 12px;
  padding-left: 1.8em;
  padding-right: 1.8em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}

#sessionsHeader {
  display: none;
}

#desktopButtons {
  margin-left: 1em;
}

#desktopButtons ion-button {
  margin-right: 8px;
}

ion-slide {
  padding: 1.6em;
}

.items p {
  color: black !important;
}

.items h2 {
  font-weight: bold !important;
  color: black;
  margin-bottom: 10px !important;
}

#noSessions p {
  width: 60%;
}

ion-slides {
  height: 90vh;
}

ion-slide {
  flex-direction: column;
}

ion-slide h1 {
  font-size: 32px;
  font-weight: bold;
}

#startButton {
  margin-top: 4em;
}

@media(min-width: 400px) {
  #homeSessionList {
    display: grid;
    grid-template-columns: auto auto;
  }
}

@media(min-width: 1200px) {
  #homeSessionList {
    margin-left: 10em !important;
    margin-right: 10em !important;
  }

  #homeFooter ion-toolbar {
    padding-left: 26em;
    padding-right: 26em;
  }

  ion-list {
    padding-left: 20em !important;
    padding-right: 20em !important;
    padding-top: 2em !important;
  }

  #sessionsHeader {
    display: block !important;
    margin-left: 5.4em;
    margin-bottom: 0;
    font-size: 1.8em;
    margin-top: 0;
    font-weight: bold;
  }

  #desktopHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2em;
  }

  #mobileSearch {
    display: none;
  }

  #mobileFab {
    display: none;
  }

  #desktopFab {
    display: initial !important;
    margin-right: 16em;
  }

  #desktopSearch {
    display: block !important;
    width: 17em;
    margin-top: 18px;
    margin-left: 8.6em;
  }

  ion-slide {
    padding-left: 22em;
    padding-right: 22em;
  }

  ion-slide img {
    height: 50% !important;
  }
}

@media(min-width: 1200px) {
  #homeSessionList {
    display: grid;
    grid-template-columns: auto auto auto;
  }
}